

@font-face{
    font-family:"PT Sans";
    font-style:normal;
    font-weight:400;
    src:url("fonts/ptsans-400.woff2");
    font-display: swap;
}
@font-face{
    font-family:"PT Sans";
    font-style:normal;
    font-weight:700;
    src:url("fonts/ptsans-700.woff2");
    font-display:swap;
}
.visually-hidden{
    position:absolute;
    width:1px;
    height:1px;
    margin:-1px;
    padding:0;
    border:0;
    clip:rect(0 0 0 0);
    overflow:hidden;
}


body{
   font-family:"PT Sans",Arial;
   font-size:18px;
   line-height:21px;
   background: white;
   color: black;
   margin:0;
   padding:0; 
   
}



 

/* блоки с номером,
 блоки с рисунком*/
.border-image,
.border-number{
    border: solid 1px #83B3D3;
    background: #83B3D3;
    width:400px;
    height: 384px;
    color:#FFFFFF;
    text-align: center;
    
}
/* содержимое блоков с номером */

.uppercase{
    font-size: 24px;
    line-height: 28px;
    font-weight:700;
    color:#FFFFFF;
    text-transform: uppercase;
    margin:0;
    padding:0;

    padding-top: 97px;
    margin-bottom:30px;
}
.number{
    font-size:18px;
    line-height:21px;
    font-weight:400;
    color:#FFFFFF;
    margin:0;
    padding:0;
    
    margin-bottom: 30px;
}

.benefits{
    font-size:18px;
    line-height:21px;
    font-weight:400;
    color:#FFFFFF;
    margin:0;
    padding:0;

    margin-bottom:87px;
}
.block-5,
.block-3,
.block-eat{
    background: #83B3D31F;
    border-color:#83B3D31F;
}
.block-present,
.block-4,
.block-home{
    background: #83B3D333;
    border-color:#83B3D333 ;
}


.black{
    color:#333333;
}

/* содержимое блоков с рисунком */
.title{
    font-size:24px;
    line-height:28px;
    font-weight:700;
    color:#333333;
    text-transform: uppercase;
    margin:0;
    padding:0;
    margin-bottom:20px;
}
.description{
    font-size:18px;
    line-height:21px;
    font-weight:400;
    color:#333333;
    margin:0;
    padding:0; 
    margin-bottom:79px;
}
.home{
    margin:0;
    padding:0;
    margin-top:89px;
    margin-bottom:23px;
}
.eat{
    margin:0;
    padding:0;
    margin-top:91px;
    margin-bottom:20px;
}
.present{
    margin:0;
    padding:0;
    margin-top:85px;
    margin-bottom:23px;  
}
.town-image{
    grid-area:town-image;
}
.block-home{
    grid-area:block-home ;
}
.block-eat{
    grid-area: block-eat;
}
.block-present{
   grid-area:block-present;
}
.bridge-diablo-image{
    grid-area:bridge-diablo-image;
}
.block-1{
    grid-area: block-1;
}
.block-2{
    grid-area: block-2;
}
.block-3{
    grid-area: block-3;
}
.block-4{
    grid-area: block-4;
}
.block-5{
    grid-area: block-5;
}

.blocks{
    display:grid;
    width:1200px;
    margin-right: auto;
    margin-left: auto;
    grid-template-areas:"block-1 town-image town-image"

                        "block-home block-eat block-present"

                        "bridge-diablo-image bridge-diablo-image block-2"

                        "block-3 block-4 block-5";

}












/* формы */


/* фон фильтра каталога */

.filter-list{
    background: url(images/catalog/catalog.jpg) no-repeat;
    width:1200px;
    height:408px;
    margin-right: auto;
    margin-left: auto;
}
.filter-list-item{
    list-style-type:none;
    
}
.filter-parameter{
    width:1200px;
    display:flex;
    
   
}

.filter-parameter-title{
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color:#FFFFFF;
    margin:0;
    padding:0;
    margin-bottom:30px;
}
.filter-list-parameter{
    display:block;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    color:#FFFFFF;
    margin:0;
    padding:0;
    margin-bottom:13px;

}
.filter-list-parameter:nth-child(3){
    margin-bottom:0;
}

.filter-list-item{
    margin:0;
    padding:0;
}
.button-apply{
    display:block;
    border:1px solid #83B3D3;
    background: #83B3D3;
    width:160px;
    height:48;
    padding:10px;

    font-size: 16px;
    line-height:20px;
    font-weight:700;
    text-transform:uppercase;
    color:#FFFFFF;
    margin-bottom:20px;
}
.button-reset{
    background: none;
    border:none;
    font-size:18px;
    line-height:23px;
    font-weight:400;
    color:#FFFFFF;
    margin:0;
    padding:0; 
}
.filter-parameter-choice{
    border:none;
    margin:0;
    padding:0;
}

/* .title */

.sedona-hostel{
    font-size: 60px;
    line-height:77px;
    font-weight:700;
    color:#FFFFFF;
    padding:0;
    margin:0;
    
    padding-top: 35px;
    
    padding-left:71px;
    
}
.infra{
    margin-left: 70px;
    margin-right:67px;
    
}
.motel{
    margin-right:216px;
}

.cost-choice{
    margin-right:150px;
}
.button{
    padding-top:50px;
    text-align: center;

    
}
.breadcrumbs{
    margin:0;
    padding:0;
    margin-bottom: 45px;
    
}
.breadcrumbs a{
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color:#FFFFFF;

}
.breadcrumbs-link{
    margin-left: 73px;
    margin-right: 11px;
}
.branch-image{
    margin-right: 10px;
}



